{% load static %}
<html>
    <head>
        <title>{% block title %}Туду-дуду{% endblock %}</title>
        <link rel="stylesheet"  href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
              integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm"
              crossorigin="anonymous">
        <script src="https://code.jquery.com/jquery-3.5.1.js"></script>
        <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
        <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js" integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN" crossorigin="anonymous"></script>
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js" integrity="sha384-B4gt1jrGC7Jh4AgTPSdUtOBvfO8shuf57BaghqFfPlYxofvL8/KUEfYiJOMMV+rV" crossorigin="anonymous"></script>

{% block extra_head %}{% endblock %}
</head>
<body>
<div class="container">
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark border-bottom shadow-sm">
        <a class="navbar-brand" href="{% url 'tasks:list'%}">Task List</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNavDropdown">
            <ul class="navbar-nav ml-auto">   <!--ml-auto - adding shifts-->
                <li class="nav-item active">
                    <a class="nav-link" href="#">Home <span class="sr-only">(current)</span></a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">Link</a>
                </li>
                {% if user.is_authenticated %}
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        {{ user.first_name }}
                    </a>
                    <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                        <img src="{{ user.profile.avatar.url }}" class="img-fluid">
                        <a class="dropdown-item" href="#">Профиль</a>
                        <a class="dropdown-item" href="{% url 'edit'%}">Изменить профиль</a>
                        <a class="dropdown-item" href="{% url 'password_change' %}">Изменить пароль</a>
                        <div class="dropdown-divider"></div>
                        <a class="dropdown-item" href="{% url 'logout'%}">Выйти</a>

                    </div>
                </li>
                <li class="nav-item">
                    {% else %}
                    <a class="nav-link" href="{% url 'login' %}" tabindex="-1" aria-disabled="true">Sing in</a>
                    {% endif %}
                </li>
            </ul>
        </div>
    </nav>
        <div class="row">
            <div class="side_bar col">
            </div>
<div class="main_content col-8">
    {% if messages %}
    <div class="row">
        <ul class="messages">
            {% for message in messages %}
            <div class="alert alert-{{ message.tags}}} alert-dismissable" role="alert">
                {{ message }} <a href="#" class="alert-link" data-dismiss="alert">x</a>
            </div>
            {% endfor%}
        </ul>
    </div>
    {% endif%}
    {% block main_content %}
    {% endblock %}
            </div>
        </div>
    </div>
</body>
</html>