h1 {
	text-align: center;
}

.checkbox {
	float: left;
	margin: auto;
}

/*form {*/
/*	outline: 0;*/
/*	height: 36px;*/
/*	margin-top: 5%;*/
/*}*/

form.tasks-create {
outline: 0;
height: 36px;
margin-top: 5%;
border: 3px solid #3b3b3b;
}

form.tasks-create > input[type="text"] {
outline: 0;
width: 55%;
height: 32px;
border: none;
font-size: 18px;
font-weight: normal;
padding-left: 10px;
}

.container {
	margin: 10%;
	background: yellow;
	padding: 10px;
	border-radius: 5px;
	border: 1px solid black;
	width: 30%;
}

ul {
	padding: 0;
	text-align: center;
	list-style: none;
}
.remove {
	float: right;
	cursor: pointer;
	color: black;
}

.completed {
	text-decoration: line-through;
}

button {
	margin-top: 10px;
	margin-left: 30%;
	text-align: center;
}

.add {
	outline: 0;
	width: 34%;
	height: 36px;
	color: #fff;
	font-size: 18px;
	border: none;
	cursor: pointer;
	background-color: #3b3b3b;
}