{% extends "base.html" %}
{% load static %}
{% block title %}Задача {{ object.id }}{% endblock %}
{% block extra_head %}
{% endblock %}
{% block main_content %}
<h2>Задача</h2>
<p><b>Описание</b>: {{ object }}</p>
<ul>
    <li>
        <h4>{{ object.is_completed|yesno:"Выполнено,Не выполнено" }} </h4>
    </li>
    <li><i class="far fa-calendar-alt"></i>&nbsp;Создана: {{ object.created }}</li>
    <li><i class="far fa-clock"></i>&nbsp;Последнее изменение: {{ object.updated }}</li>
    <li><i class="far fa-edit"></i>&nbsp;<a href="{% url 'tasks:edit' pk=object.pk %}">Редактировать</a></li>
</ul>
<a href="{% url 'tasks:list' %}"><i class="fas fa-undo-alt"></i></a>

<script src="https://kit.fontawesome.com/3ed3afa147.js" crossorigin="anonymous"></script>
{% endblock %}